#dashboard
	#linksBar
		= link_to image_tag("bt-new-link.png", :alt => "New link"), links_path

	#wrapperLinks
		- if @facebook.any?
			.categoryBar
				= image_tag "facebook-image.png", :alt => "Facebook"
				%span Facebook

			.contentLinks
				%ul
					- @facebook.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @gag.any?
			.categoryBar
				= image_tag "gag-image.png", :alt => "9GAG"
				%span 9GAG

			.contentLinks
				%ul
					- @gag.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @article.any?
			.categoryBar
				= image_tag "blog-image.png", :alt => "Article"
				%span Article

			.contentLinks
				%ul
					- @article.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @technology.any?
			.categoryBar
				= image_tag "technology-image.png", :alt => "Technology"
				%span Technology

			.contentLinks
				%ul
					- @technology.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @other.any?
			.categoryBar
				= image_tag "other-image.png", :alt => "Other"
				%span Other

			.contentLinks
				%ul
					- @other.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"