#dashboard
	#linksBar
		= link_to image_tag("bt-new-link.png", :alt => "New link"), links_path, id: 'newlink'

	#wrapperLinks
		- if @facebook.any?
			.categoryBar
				%span Facebook

			.contentLinks
				%ul
					- @facebook.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @gag.any?
			.categoryBar
				%span 9GAG

			.contentLinks
				%ul
					- @gag.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @article.any?
			.categoryBar
				%span Article

			.contentLinks
				%ul
					- @article.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @technology.any?
			.categoryBar
				%span Technology

			.contentLinks
				%ul
					- @technology.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @jiu.any?
			.categoryBar
				%span Jiu-Jitsu

			.contentLinks
				%ul
					- @jiu.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"

		- if @other.any?
			.categoryBar
				%span Other

			.contentLinks
				%ul
					- @other.each do |l|
						%li
							= link_to l.name, l.link, :target => "_blank"