<div id="dashboard" class="container">
	<div id="linksBar">
		<span>Links</span>
		<%= link_to 'New category', categories_path, class: 'btn btn-primary', id: 'newcategory' %>
		<%= link_to 'New link', links_path, class: 'btn btn-primary', id: 'newlink' %>
	</div>

	<div id="wrapperLinks">
		<%= html_category(@facebook, 'Facebook') %>
		<%= html_category(@gag, '9GAG') %>
		<%= html_category(@article, 'Article') %>
		<%= html_category(@technology, 'Technology') %>
		<%= html_category(@jiu, 'Jiu-jistu') %>
		<%= html_category(@other, 'Other') %>
	</div>
</div>