<div id="dashboard">
	<div id="linksBar">
		<%= link_to image_tag("bt-new-link.png", :alt => "New link"), links_path, id: 'newlink' %>
	</div>

	<div id="wrapperLinks">
		<%= html_category(@facebook, 'Facebook') %>
		<%= html_category(@gag, '9GAG') %>
		<%= html_category(@article, 'Article') %>
		<%= html_category(@technology, 'Technology') %>
		<%= html_category(@jiu, 'Jiu-jistu') %>
		<%= html_category(@other, 'Other') %>
	</div>
</div>