#linksBar

#wrapperForm
	= form_for @link do |f|
		- if @link.errors.any?
			#error_explanation
				%p#labelErrors Ops!
				%ul
					- @link.errors.full_messages.each do |msg|
						%li= msg

		%ul
			%li
				%label.text
					%span Name:
					= f.text_field :name

			%li
				%label
					%span Category:
					= f.select :category, category, { :prompt => "Choose one category" }

			%li
				%label.text
					%span Link:
					= f.text_field :link

			%li
				%span.submitButton
					= f.submit