#linksBar

#wrapperForm
	= form_for @link do |f|
		%ul
			%li
				%label.text
					%span Name:
					= f.text_field :name

			%li
				%label
					%span Category:
					= f.select :category, category, { :prompt => "Choose one category" }

			%li
				%label.text
					%span Link:
					= f.text_field :link

			%li
				%span.submitButton
					= f.submit