<div id="linksBar" class="separatorLinksBar">
	<span>Links</span>
	<%= link_to "Return to dashboard", dashboard_path, class: "btn btn-primary" %>
	<%= link_to 'New category', categories_path, class: 'btn btn-primary', id: 'newcategory' %>
</div>
<div id="wrapperForm">
	<%= form_for @link do |f| %>
		<% if @link.errors.any? %>
			<div id="error_explanation">
				<p id="labelErrors">Ops!</p>
				<ul>
					<% @link.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<ul>
			<li>
				<label class="text">
					<span> Name: </span>
					<%= f.text_field :name %>
				</label>
			</li>

			<li>
				<label class="text">
					<span> Category: </span>
					<%= f.select :category, category, { :prompt => "Choose one category" } %>
				</label>
			</li>

			<li>
				<label class="text">
					<span> Link: </span>
					<%= f.text_field :link %>
				</label>
			</li>

			<li>
				<span class="submitButton"> <%= f.submit "Create link", class: "btn btn-warning" %> </span>
			</li>
		</ul>
	<% end %>
</div>
